<div class="boxcell vbox sidebar">
    <p>
        <ul class="nav nav-pills nav-justified">
            <li ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Policies' })">Policies</a></li>
            <li ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Footnotes' })">Footnotes</a></li>
            <li ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Disclosures' })">Disclosures</a></li>
            <li ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'All' })">ALL</a></li>          
        </ul>
    </p>
    <div class="searchbar">
        <input type="text" class="form-control" ng-model="search" placeholder="Search">
    </div>
    <ul class="boxcell scrollable nav nav-stacked nav-xs">
        <li ng-repeat="c in concepts | filter:search | orderBy:'Label'" ng-class="{ disabled: !c.Used }">
            <a ng-click="checkUsage(c)">
                <i class="fa fa-chevron-right chevron-right" ng-show="c.Used"></i>
                {{c.Label}}
            </a>
        </li>
    </ul>
</div>
<div class="boxcell-big space-between scrollable">
    <div ui-view></div>
</div>
