<ul class="nav nav-pills nav-justified nav-menu-sel">
    <li class="active">
        <a ui-sref="disclosures.list({ list: list })" class="text-left">
            <i class="fa fa-chevron-left"></i>
            {{concept.Label}}
        </a>
    </li>
</ul>
<div class="nav-search">
    <input type="text" class="form-control" ng-model="search" placeholder="Search">
</div>
<div class="nav-list">
    <div ng-repeat="c in concepts | filter:{Label:search}">
        <a ui-sref="disclosures.concept({ list: list, concept: c.Name })">{{c.Label}}</a>
    </div>
</div>