<div class="secondmenu">
    <table class="nav-menu">
    <tr>
        <td ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Policies' })">Policies</a></td>
        <td ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Footnotes' })">Footnotes</a></td>
        <td ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'Disclosures' })">Disclosures</a></td>
        <td ui-sref-active="active"><a ui-sref="disclosures.list({ list: 'All' })">ALL</a></td>          
    </tr>
    </table>
    <div class="nav-search">
        <input type="text" class="form-control" ng-model="search" placeholder="Search">
    </div>
</div>
<div class="nav-list">
    <a ng-repeat="c in concepts | filter:search" ui-sref="disclosures.concept({ list: list, concept: c.Name })">
        <i class="fa fa-chevron-right chevron-right"></i>
        {{c.Label}}
    </a>
</div>