@import "bootstrap.less";
@import "ng-progress-lite.less";

a {
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

//std margin & padding
.std-right-margin {
    margin-right: 15px;
}

.std-top-padding {
    padding-top: 15px;
}

.std-left-margin {
    margin-left: 15px;
}

//Font weigths
h1, h2, h3, h4, h5 {
    font-weight: 100;
}

label {
    font-weight: normal;
}

//Navbar
.navbar-brand {
    color: white !important;
    font-weight: 100;
    
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.modal-dialog {
    width: 700px;

    //Modals
    .modal-header {
        background-color: @brand-primary;
        color: white;

        &.modal-header-danger {
            background-color: @brand-danger;
        }
    }
}

.viewport{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    .viewport;

    body {
        .viewport();
    
        div[ui-view] {
            .viewport;
        }   
    }   
}

.nav-filter {
    margin: 5px 5px 0px 0px;
    padding: 1px 10px !important; 
    text-align: left;
    background: @wet-asphalt;
    border-radius: 5px;

    &:hover {
        background: @belize-hole !important;
    }

    > div {
        max-width: 400px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.secondmenu {
    background: @body-bg;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0px;

    a { 
        text-decoration: none;
        cursor: pointer;
    }

    .nav-menu {
        margin: 5px 0px;
        padding: 0px;
        width: 100%;

        > tbody > tr > td {
            width: 25%;
            padding: 0px;
            border: 1px solid @clouds;
            
            > a {
                padding: 7px 3px;
                cursor: pointer;
                text-decoration: none;
                text-align: center;
                width: 100%;
                display: block;
            }
            
            &.active > a {
                background: @brand-primary;
                color: @body-bg;
            }
        }
    }

    .nav-menu-sel {
        margin: 5px 0px;
        padding: 0px;
        width: 100%;

        > tbody > tr > td {
            width: 25%;
            padding: 0px;
            border: 1px solid @clouds;

            > a {
                padding: 7px 10px;
                margin: 0px;
                text-align: left;
                width: 100%;
                display: block;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: hidden;
            }
        }
    }

    .nav-search {
        padding: 10px;
        background-color: @clouds;
    }
}

.nav-list {
    padding: 10px;

    > a {
        border-bottom: 1px solid @clouds;
        padding: 5px 0px;
        margin:  5px 0px;
        display: block;
        text-decoration: none;
        cursor: pointer;
    }

    > a.active {
        color: @gray-darker;
        font-weight: bold;
    }
}

.chevron-left {
    float: left;
    margin: 4px 2px;
}

.chevron-right {
    float: right;
    margin: 4px 2px;
}

//fix for bootstrap 3
.navbar-right {
    padding-right: 20px;
}

.wrapper {
    margin-top: -50px;
    padding-top: 50px;
    top: 50px;
    position: relative;

    &.wrapper-scrolling {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &.wrapper-left {
        padding-top: 100px;
        display: inline-block;
        width: 30%;
    }

    &.wrapper-right {
        padding-top: 0px;
        display: inline-block;
        width: 68%;
        float: right;
    }
}


//Selector
ul.selector {
    padding: 3px 0px; 
    margin: 0; 
    list-style: none;
    border: 1px solid @clouds;
    background: white;
    border-radius: 3px;
    .box-sizing(border-box);
    overflow-x: hidden;
    
    li {
        display: block;
        cursor: pointer;
        padding: 1px 5px; 
        
        &.selected {
            background: @brand-primary;
            color: white;
        }
        
        &.disabled {
            color: @silver;
            
            &:after {
                float: right;
                font-size: smaller;
                padding: 1px;
                content : "N/A";
            }
        }
    }
}

#comparison-filter {
    .alert {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        .close {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

#comparison-setfilter {
    border-left: 1px solid @clouds;
}
