@import "bootstrap.less";
@import "ng-progress-lite.less";

a {
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

//std margin & padding
.std-right-margin {
    margin-right: 15px;
}

.std-top-padding {
    padding-top: 15px;
}

.std-left-margin {
    margin-left: 15px;
}

//Font weigths
h1, h2, h3, h4, h5 {
    font-weight: 100;
}

label {
    font-weight: normal;
}

//Navbar
.navbar-brand {
    color: white !important;
    font-weight: 100;
    
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

//Modals
.modal-header {
    background-color: @brand-primary;
    color: white;

    &.modal-header-danger {
        background-color: @brand-danger;
    }
}

.viewport{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    .viewport;

    body {
        .viewport();
    
        div[ui-view] {
            .viewport;
        }   
    }   
}

.nav-menu {
    margin: 5px 0px;

    > li > a {
        border: 1px solid @clouds;
        border-left: 0px;
        padding: 7px 3px;
        margin: 0px;
    }

    > li.active > a {
        border-color: @brand-primary;
    }
}

.nav-menu-sel {
    margin: 5px 0px;

    > li > a {
        border: 1px solid @clouds;
        border-left: 0px;
        padding: 7px 10px;
        margin: 0px;
        text-align: left;
    }

    > li.active > a {
        border-color: @brand-primary;
    }
}

.nav-search {
    padding: 10px;
    background-color: @clouds;
}

.nav-list {
    padding: 10px;

    > a {
        border-bottom: 1px solid @clouds;
        padding: 5px 0px;
        margin:  5px 0px;
        display: block;
    }

    > a.active {
        color: @gray-darker;
        font-weight: bold;
    }
}

.chevron-left {
    float: left;
    margin: 4px 2px;
}

.chevron-right {
    float: right;
    margin: 4px 2px;
}