<header class="navbar navbar-default" role="navigation" navbar-toggle>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only" translate>Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="disclosures.list({ list: 'Policies' })" class="navbar-brand">
            US GAAP Disclosures
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="initialized">
                <a class="filterbar" ng-click="filter()">
                    <div>
                        <span ng-if="selection.tag.length > 0">
                            Tags: <span ng-repeat="t in selection.tag">{{t}} </span>
                        </span>
                        <span ng-if="selection.sic.length > 0">
                            SIC: <span ng-repeat="t in selection.sic">{{t}} </span>
                        </span>
                        <span ng-if="selection.cik.length > 0">
                            CIK: <span ng-repeat="t in selection.cik">{{t}} </span>
                        </span>                        
                    </div>
                    <div class="small">
                        Fiscal Years: <span ng-repeat="t in selection.fiscalYear">{{t}} </span>
                        /
                        Fiscal Periods: <span ng-repeat="t in selection.fiscalPeriod">{{t}} </span>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active" ng-hide="token"><a ui-sref="account.login">Login</a></li>
            <li ui-sref-active="active" ng-show="token"><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</header>
<div ui-view class="boxcell space-between hbox"></div>