<div class="modal-header">
    <h3 class="modal-title">Filter Settings</h3>
</div>
<div class="modal-body row">
    <div class="col-xs-12" ng-hide="token">
        <div class="alert alert-info">
            <h4>Unregistered users receive free access to DOW30 companies only</h4>
            <p>
                Registered users can filter companies by CIK, SIC and tags like SP 500 and FORTUNE 100.
            </p>
            <p>
                To login using your secxbrl.info credentials, <a  ui-sref="account.login" ng-click="cancel()">click here</a>.
            </p>
            <p>
                If you forgot your password or you want to create an account, visit <a ng-href="{{mainAppURL}}" target="_blank">secxbrl.info</a>.
            </p>
        </div>
    </div>
    <div id="filter-current" class="col-xs-6">
        <div ng-show="token">
            <div ng-show="selection.cik.length + selection.tag.length">
                <div>
                    <h6>ENTITIES OR ENTITY GROUPS</h6>
                    <div class="alert alert-success" ng-repeat="t in selection.tag">
                        <a class="close" ng-click="selection.tag.splice($index, 1)">&times;</a>
                        {{t}}
                    </div>
                    <div class="alert alert-info" ng-repeat="c in selection.cik">
                        <a class="close" ng-click="selection.cik.splice($index, 1)">&times;</a>
                        {{getEntity(c).name}}
                    </div>
                </div>
            </div>
            <div ng-show="selection.sic.length">
                <div>
                    <h6>INDUSTRY GROUP</h6>
                    <div class="alert alert-danger" ng-repeat="s in selection.sic">
                        <a class="close" ng-click="selection.sic.splice($index, 1)">&times;</a>
                        {{getSic(s).Description}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div ng-show="selection.fiscalYear.length">
                <div>
                    <h6>FISCAL YEARS</h6>
                    <div class="alert alert-warning" ng-repeat="y in selection.fiscalYear">
                        <a class="close" ng-click="selection.fiscalYear.splice($index, 1)">&times;</a>
                        {{y}}
                    </div>
                </div>
            </div>
            <div ng-show="selection.fiscalPeriod.length">
                <div>
                    <h6>FISCAL PERIODS</h6>
                    <div class="alert alert-warning" ng-repeat="p in selection.fiscalPeriod">
                        <a class="close" ng-click="selection.fiscalPeriod.splice($index, 1)">&times;</a>
                        {{p}}
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div id="filter-setter" class="col-xs-6">
        <div ng-show="token">
            <h6>ADD ENTITY</h6>
            <input class="form-control" type="text" ng-model="name" typeahead-on-select="selectEntity($item)"
                   placeholder="Search for an entity..."
                   typeahead-template-url="typeahead_entity.html"
                   typeahead="entity.name for entity in entities | filter:$viewValue | limitTo:8">
            <script type="text/ng-template" id="typeahead_entity.html">
                <a tabindex="-1" class="multicol">
                   <div ng-bind-html='match.model.name | typeaheadHighlight:query'></div>
                   <small ng-bind-html='"CIK: " + match.model.cik + (match.model.tickers[0] ? ", Ticker: " + match.model.tickers[0] : "") | typeaheadHighlight:query'></small>
                </a>
            </script>
            <h6 class="nowrap">ADD ENTITY GROUP</h6>
            <span ng-repeat="t in tags">
                <a class="highlight3" ng-click="(selection.tag.indexOf(t) >= 0 ? null : selection.tag.push(t))">{{t}}</a>&nbsp;
            </span>
            <h6 class="nowrap">ADD INDUSTRY GROUP</h6>
            <input class="form-control" type="text" ng-model="sic" typeahead-on-select="selectSic($item)"
                   placeholder="Search for a industry group..."
                   typeahead-template-url="typeahead_sic.html"
                   typeahead="sic.Description for sic in sics | filter:$viewValue | limitTo:8">
            <script type="text/ng-template" id="typeahead_sic.html">
                <a tabindex="-1" class="multicol">
                   <div ng-bind-html='match.model.Description | typeaheadHighlight:query'></div>
                   <small ng-bind-html='"ID: " + match.model.ID + " Sector: " + match.model.Sector | typeaheadHighlight:query'></small>
                </a>
            </script>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h6 class="nowrap">ADD FISCAL YEARS</h6>
                <ul class="selector" style="height: 97px">
                    <li ng-repeat="y in years" ng-class="{ selected: (selection.fiscalYear.indexOf(y) >= 0) }" ng-click="(selection.fiscalYear.indexOf(y) >= 0 ? selection.fiscalYear.splice(selection.fiscalYear.indexOf(y), 1) : selection.fiscalYear.push(y))">{{y}}</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h6 class="nowrap">ADD FISCAL PERIODS</h6>
                <ul class="selector" style="height: 97px">
                    <li ng-repeat="p in periods" ng-class="{ selected: (selection.fiscalPeriod.indexOf(p) >= 0) }" ng-click="(selection.fiscalPeriod.indexOf(p) >= 0 ? selection.fiscalPeriod.splice(selection.fiscalPeriod.indexOf(p), 1) : selection.fiscalPeriod.push(p))">{{p}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" ng-click="reset()">RESET</a>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
</div>